.orange-button {
  background-color: #ff6600;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.orange-button:hover {
  background-color: #e65c00;
}

/* Red border when invalid */
.form-control.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
