.Business-solution {
    background-image: url('../../assets/cta-bg.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Title styling */
.Business-solution span {
    color: rgb(27, 189, 27);
}
.Business-solution em {
    color: red;
}

/* Buttons styling */
.btn-grup2 {
    display: flex;
    gap: 20px;
}

/* Mobile view */
@media (max-width: 480px) {
    .Business-solution {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto; /* Adjust section height */
        padding: 20px 0;
    }

    .tittle h1 {
        font-size: 20px;
       margin-bottom: 100px;
    }

  

   .btn-grup2{
    margin-top: -150px;
    width: 100%;

   }
    
}
