.btn-color .nav-link {
  background-color: white;
}

.btn-color .nav-link {
  background-color: transparent !important;
}

.btn-color .nav-link.active {
 
  color: #db5d0f !important;
}
.btn-color .nav-link {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (max-width: 480px) {
  .mobile-table {
    margin-top: 30px;
  }
.mobile-responsive{
margin-top: 20px;
}
  .mobile-table table {
    min-width: 500px;   
    margin: 0 auto;    
  }

  .mobile-table th,
  .mobile-table td {
    font-size: 12px;
    padding: 6px;
    text-align: center;
  }
  .paragraph p{
    margin-top: 30px;
  }
  
}
